/* 
.first-color { 
	background: #fffafa; 
}
	
.second-color { 
	background: #ffe0e0; 
}

.third-color { 
	background: #ffc0d0; 
}

.fourth-color { 
	background: #efdfbf; 
*/

h1
{
    text-align: center;
}

div
{
    width: 100vw;
    height: 45vh;
}

.impar
{
    background: #ffe0e0;
}
.par 
{
    background: #ffc0d0;
}

.hidden
{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible
{
    opacity: 1;
    transform: translateY(0);
}